body{
    background-color:skyblue;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-flex-row li {
    list-style-type: none;
    padding: 20px 15px;
}
s
 background-color:black;
 width: 10px;
 height: 90px;


  }
.Cafe-kitchen{
text-align: center;
}
.matooke-1{
    
}

